﻿@Modeltype List(Of String)
@Code
    Layout = ""
    Dim users As String = ""
    For Each item In Model
        users &= item & "<br />"
    Next
    Dim i = 0
End Code
<div>
    <a href="javascript:void(0);" id="example" class="votepop" rel="popover" data-content="@users">
        @Select Case ViewBag.votetype
            Case 1
                @<span class="glyphicon glyphicon-thumbs-up"></span>
            Case 2
                 @<span class="glyphicon glyphicon-thumbs-down"></span>
        End Select
        @ViewBag.PickedPercent% Picked
    </a>
</div>


