﻿.LMSearchAddress {
    color: #000;
    margin:2px;
}

.searchtimes {
    color: #000;
}
body {
  min-height: 100px;
}

.navbar-static-top {
  margin-bottom: 19px;
}
body {
 /*background-image: url('/Content/img/2360491_P_Hill-town.jpg');*/
}
.rightnav > li > a{
    padding-top:1px;
    padding-bottom:1px;
     width:100%;
     display:block;
}
.loading {
    height:100%;
    width:100%;
    opacity:0.4;
    top:0;
    left:0;
    bottom:0;
    background-color:black;
    z-index:1000;
    min-height:150px;
    position:absolute;
}
.loadingspinner {
    margin-top:50px;
    margin-left:50%;
    margin-right: 50%;
}

.remfilter {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.remfilter:hover,
.remfilter:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}


.filteritem {
     text-decoration: none;
  cursor: pointer;
}

.menushowedit {
    margin:5px;
    margin-left: 20px;
    padding-left:5px;
     border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.menushow {
     margin-bottom:5px;
    margin-left: 20px;
    padding-left:5px;
}
.menushowitembox {
     border-bottom: 1px solid #e3e3e3;
}
.navbar-logo {
      float: left;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 20px;
}

.menushowitemdescription {
    padding-left: 15px;
}
.white {
    color: #fff;
}
.searchfilters {
    padding-left: 5px;
    list-style-type: none;
}
.restSearchName {
    margin: 2px;
}
.timealert {
    padding-left:5px;
    padding-right: 5px;
}
.oomenugroup {
    background-color:#f5f5f5;
}
.choosetext {
    font-style:italic;
}
.badge-success {
  background-color: #468847;
}
.navbar-inverse .navbar-btn {
    background-color:transparent;
    border-color: #333333;
    color:white;    
}
.addresslist {
    padding-left:0px;
}
.addtocartmessage {
    z-index:2000;
    position:fixed;
    top: 100px;
     right: auto;
    left: 50%;
}
.advancedfilter {
   max-height: 340px;
  padding-right: 1px;
  padding-left: 1px;
  overflow-x: visible;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
}

.onlineordering {
    background-color: #d9edf7;
    position:relative
}
.onlineordering-text {
    /*color: #3a87ad;
    position:absolute;
    bottom: 0;
    right: 5px;*/
}
.totalbox {
    padding-right:20px;
}
.center-block {
    float: none;
    margin: 0 auto;
}
.filterbar {
    min-height:0px;
}
.text-black {
    color: black;
}
.itemoptionserror {
    margin-bottom:3px;
    padding:2px;
}
.searchmain {
    min-height:100px;
    position:relative;
}
.ordertype {
    padding-left:0px;
    padding-right:0px;
}
.deliverstome {
    background-color: #dff0d8;
    position:relative
}
.deliverstome-text {
    color: #468847;
    position:absolute;
    bottom: 0;
    right: 5px;
}
.itemPriceLoading {
    background-color:#f7f7f9;
}