﻿@Modeltype string
@Code
    ViewData("Title") = "| Account"
End Code
<h2>My Local Munchies</h2>

<h2>@Model</h2>

<a class="btn btn-primary" href="@Url.RouteUrl("search",New With {.id="Kent-OH"})">Find Some Food</a>
