﻿@Code
    Layout = Nothing
End Code

<div class="alert alert-warning">
    <div class="row">
        <div class="col-xs-12" style="vertical-align:middle">
           Thank You for signing up.
        </div>
    </div>
</div>
