﻿@Code
    ViewData("Title") = "Privacy"
End Code

<h2>Local Munchies Website Privacy Policy</h2>

<h3>YOUR PRIVACY MATTERS</h3>
<p>This website is operated by Local Munchies LLC (“Local Munchies”).  Local Munchies is committed to respecting and protecting your privacy. Visitors may access this website while remaining anonymous and without revealing any personal information (except as referred to below under “Cookies”). Occasionally, and in order to provide products or services, and/or relevant, desired information concerning products or services, Local Munchies may request personal information from you. As a Local Munchies website user or registrant, you are always entitled to update your personal information if necessary or ask any questions about this Privacy Policy by e-mailing:privacy@localmunchies.com</p>
<p>Because Local Munchies is committed to protecting your privacy, Local Munchies will not sell, rent or otherwise disclose this information to any third party, except as described in this Privacy Policy. Local Munchies maintains all personal information as private to the best of the company’s ability. However, personal information may be disclosed under the limited circumstances described below, and by submitting your personal information, you agree that Local Munchies may do so.</p>
<p>This Privacy Policy applies to all Local Munchies websites and domains, except that a Privacy Policy or statement posted on a specific website operated by Local Munchies, if any, will apply instead of this Privacy Policy.</p>

<h3>Collection of Personal Information</h3>
<p>To participate in certain activities and to obtain certain services offered on our web site, you will be asked to provide varying amounts of personal information.</p>
<p>In addition to the information you provide, Local Munchies may also collect information during your visit to a Local Munchies website through our automatic data collection tools, which may include Web beacons, cookies, embedded Web links, and other commonly used information-gathering tools. These tools collect certain standard information that your browser sends to our website such as your browser type and language, access times, and the address of the website from which you arrived at a Local Munchies website. They may also collect information about your Internet Protocol (IP) address, clickstream behavior (i.e. the pages you view, the links you click, and other actions you take in connection with Local Munchies websites) and product information. Local Munchies may also use some of these automatic data collection tools in connection with certain emails sent from Local Munchies and therefore may collect information using these tools when you open the email or click on a link contained in the email.</p>

<h3>How Local Munchies Uses Personal Information</h3>
<p>Local Munchies uses your personal information to better meet individual needs, to respond to specific requests for information, to send promotional materials, and to make you aware of new or similar products or offerings in which you might be interested.</p>
<p>Local Munchies reserves the right to call or send registrants email communications from time to time regarding product and company updates, technical or administrative issues, legal notices, promotional offers or other important information about the website and products and service considered valuable or essential to your continued ability to use them properly. Local Munchies does not intentionally send unsolicited emails to anyone who has requested that Local Munchies not contact them.</p>

<h3>HOW TO OPT-OUT</h3>
<p>When you provide personally identifiable information through a form on a Local Munchies website, you have the option to opt-in to receiving communication from Local Munchies. If you opt-in and change your mind at any time, you may tell the company that you do not wish to receive these messages by sending an email to privacy@Localmunchies.com, by clearly following the "unsubscribe" instructions at the bottom of any email you receive, or by contacting the privacy department at the email address above to unsubscribe to mailing lists.</p>

<h3>WHAT INFORMATION IS SHARED</h3>
<p>Local Munchies does share non-personal, non-individual information from which individuals cannot be identified and which do not relate to individuals in aggregate form with third parties for business purposes, such as consultants and advisors to the company or advertisers. Local Munchies will not disclose personal information to any third parties without your consent except in the following very limited circumstances.</p>

<h3>PARTNERS AND AGENTS</h3>
<p>Local Munchies shares information with trusted agents who provide specific services you have requested and/or administer information offered at the Local Munchies website, for example, service providers who help manage, track and respond to customer orders, inquiries, information requests, etc. Local Munchies may also share information with authorized advertisers of certain products and services. Local Munchies may also share information with authorized advertisers and partners in order to execute joint marketing initiatives. These parties do not use or otherwise disclose any information except as authorized agents for the purpose of providing the products and services that you have requested or administering the activities on Local Munchies behalf, or participating in joint marketing initiatives with Local Munchies. Any company that Local Munchies shares personally identifiable information with will have executed a confidentiality agreement, requiring that they keep all data received confidential.</p>

<h3>THIRD PARTY VENDORS</h3>
<p>We occasionally hire other companies to provide limited services on our behalf. We will only provide those companies the information they need to deliver the service, and they are prohibited from using that information for any other purpose.</p>

<h3>LEGAL REQUIREMENTS AND INVESTIGATIONS</h3>
<p>Local Munchies will disclose your personal information to a third party if required to do so by law or if, in good faith, Local Munchies believes that such action is necessary to: (1) comply with the law or with legal process; (2) protect and defend the company’s rights and property or prevent fraud; (3) protect the company against abuse, misuse or unauthorized use of Local Munchies products or services; or (4) protect the personal safety or property of personnel, users or the public (among other things, this means that if you provide false or deceptive registration information or attempt to pose as someone else, information about you including your computer's IP address - may be disclosed to a third party (including the recipient of an email) as part of any type of investigation into your actions.</p>

<h3>IP ADDRESSES</h3>
<p>An IP address is a number that is assigned to your computer when you are using your browser on the Internet. The servers that serve the Local Munchies website automatically identify a computer by its IP address. If Local Munchies, in good faith, determines that you have used the service to menace, threaten, harass, intimidate or otherwise deceptively pose as another person, your actions will be investigated and your IP address may be disclosed to the recipient of any email, their legal counsel or representatives, and law enforcement officials as part of such an investigation.</p>

<h3>COOKIES</h3>
<p>A "cookie" is a small piece of data stored on a user's browser, and contains non-personally identifiable information about the user. When you visit the website, Local Munchies may place a "cookie" in order to improve your experience by recognizing you when you visit the website and in order to allow the company to optimize the information presented based on your demonstrated areas of interest. Cookies may also be used to compile information about website usage. This information can be used to enhance the content of the website and make your experience more informative. If you subsequently provide us with personal information such as your email address, we will associate any cookies on your browser with that information such that you will no longer be an anonymous visitor to the site. </p>
<p>If you've set your browser to reject cookies, you can still use this website, but you may need to re-enter information that would normally be obtained from the cookie (for example, your email address). You can also set your browser to warn you before accepting cookies. If you do, you will receive a warning message each time the website attempts to place a cookie on your hard drive.</p>

<h3>LINKED WEBSITES</h3>
<p>This website contains links to other websites. Please be aware that Local Munchies is not responsible for the privacy practices of such other websites. Local Munchies encourages users to be aware when they leave this website and to read the privacy statements of each website they visit that collects personal information. While Local Munchies carefully chooses the websites to link to, this Privacy Policy applies solely to information collected on Local Munchies own websites.</p>

<h3>SALE OF ASSETS</h3>
<p>Local Munchies may transfer its database, including personal information contained therein, to a third party who acquires all or substantially all of the assets or stock of Local Munchies whether by merger, acquisition, reorganization or otherwise.</p>

<h3>SECURITY</h3>
<p>Local Munchies employs industry-standard security procedures and processes to safeguard the confidentiality of users' personal information. Local Munchies, or agents and partners on behalf of Local Munchies, do everything in reasonable control to protect your information. Where one of Local Munchies partners or agents has access to or maintains sensitive personal information, the company enters into confidentiality agreements in order to ensure the privacy of such user information. Internally, access to all users' and registrants' personally identifiable information is restricted to those employees who need access in order to fulfill their job responsibilities. Furthermore, Local Munchies employees who deal with user information are kept up to date on various security and privacy practice issues as they arise.</p>
<p>Finally, the servers for the website are stored in a physically secured, offsite facility. Beyond the physical security of your information, Local Munchies also backs up servers regularly to prevent loss of data. While the goal is to safeguard users' and members' personal information, Local Munchies cannot ensure or warrant the security of any transmission and your information is submitted at your own risk. If you have questions about these security practices please feel free to send an email to privacy@Localmunchies.com.</p>

<h3>ACCEPTANCE OF PRIVACY POLICY AND NOTIFICATION OF CHANGES</h3>
<p>By using this website or other websites operated by Local Munchies, including www.Localmunchies.com, you signify your acceptance of this Privacy Policy, as amended from time to time in accordance with this paragraph. If you do not agree with the content of this Privacy Policy, please do not use this website. Local Munchies may revise this Privacy Policy from time-to-time and reserves the right to do so. If Local Munchies decides to change this Privacy Policy, the company will post the new policy on the website. As policies are subject to change at any time and without prior notice, Local Munchies encourages you to check the website whenever you might have questions or concerns. If at any point Local Munchies decides to use personally identifiable information in a manner different from that stated at the time it was collected, Local Munchies will notify users by way of an email to obtain their consent as a condition of doing so. You will still have the opportunity to elect not to have Local Munchies use your information in this different manner. Local Munchies will not use your information other than in accordance with the Privacy Policy under which it was collected absent permission to do otherwise.</p>
