﻿
@Code
    ViewData("Title") = "Test"
End Code
<span></span>

@For Each time In TimeZoneInfo.GetSystemTimeZones()
    @<span>@time.Id ~ @time.DisplayName @TimeZoneInfo.ConvertTimeFromUtc(Now.ToUniversalTime, time)</span>@<br />
Next