﻿@modeltype LM.LMRestaurant
@Code
    Layout = Nothing
End Code

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Special</h3>
    </div>
    <div class="panel-body">
        Show me that Special
    </div>
</div>
