﻿@Code
    Layout=nothing
End Code
<itext creationdate="@DateTime.Now.ToString()" producer="RazorPDF">
    
@*<paragraph style="font-family:Helvetica;font-size:18;font-weight:bold;font-style:italic;">
	<chunk red="255" green="0" blue="0">@ViewBag.Title</chunk>
</paragraph>*@
 
@*<table width="100%" cellpadding="1.0" cellspacing="1.0"  widths="5;5">
    <row>
	    <cell borderwidth="0.5" left="false" right="false" top="false" bottom="true">User Name</cell>
	    <cell borderwidth="0.5" left="false" right="false" top="false" bottom="true" horizontalalign="right">Lucky Number</cell>
    </row>
</table>*@

    @*<list numbered="true" symbolindent="15" font="unknown">
    <listitem leading="18.0" font="Times" size="12.0" align="Default" indentationleft="15.0">
        <chunk font="Times" size="12.0">Item 1</chunk>
    </listitem>
</list>*@
 
@*<anchor fontstyle="normal, underline" red="0" green="0" blue="255" reference="http://nyveldt.com/blog/"> 
My blog
</anchor> *@

 
    <paragraph style="font-family:Helvetica;font-size:18;font-weight:bold;font-style:italic;">
	<chunk red="255" green="0" blue="0">Attn: Ben @DateTime.Now.ToString()</chunk>
</paragraph>

@*<image url="@Context.Server.MapPath("~/Content/img/LMLogo.png")"/>
 
    <newline />

    <table width="100%" cellpadding="1.0" cellspacing="1.0"  widths="5;5">
    <row>
	    <cell borderwidth="0.5" left="false" right="false" top="false" bottom="true">Item 1</cell>
	    <cell borderwidth="0.5" left="false" right="false" top="false" bottom="true"> + mayo <newline /> + Onion</cell>
        <cell borderwidth="0.5" left="false" right="false" top="false" bottom="true">$10.50</cell>
    </row>
</table>*@
 

 
</itext>